<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
  <title>Tcl/Tk: The Swiss Army Knife of Web Applications</title>
</head>

<body>
  <h4>Listing 2. Tcl Script for processing data</h4>
  <pre>
#!/usr/bin/tclsh
# TCL script to display all user-defined values
# from a form
proc urlDecode {text}
{
   # Replace `+' chars, then hexidecimals
   regsub -all {\+} $text { } text
   regsub -all {%([0-9a-hA-H][0-9a-hA-H])} \
      $text {[format %c 0x\1]} url
   # Send back the result
   return [subst $url]
}

proc cgiParse {} {
   global cgi env
   # Find out what type of request it was, and get
   # the data
   if {[info exists env(QUERY_STRING)]} {
      set text $env(QUERY_STRING)
   } elseif {[info exists env(CONTENT_LENGTH)]} {
      set text [read stdin $env(CONTENT_LENGTH)]
   } else {
      gets stdin text
   }
   # Decode the data
   foreach {name value} [split $text &amp;=] {
      set cgi([urlDecode $name]) \
         [urlDecode $value]
   }
}
# Print a header and run
puts "Content-type: text/html \n\n"
cgiParse
foreach foo [array names cgi] {
   puts "Variable: $foo Value: $cgi($foo) &lt;br&gt;
}
</pre>
</body>
</html>
<!--
## vim: tabstop=2: shiftwidth=2: expandtab:
## kate: tab-width 2; indent-width 2; replace-tabs true;
-->
